body {
    margin: 0;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: #1F2937;
}

.mainheader {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.item1 {
    padding-right: 600px;
    font-weight: 600;
    font-size: 24px;
    color: #F9FAF8;
    
}

.headerlink {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.8;
}

.item2 {
    padding-right: 40px;
}

.item3 {
    padding-right: 40px;
}

.item4 {
    
}

.maintext {
    margin-left: 49px;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding-top: 150px;
    padding-left: 28px;
}

.secondarytext {
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.8; 
    height: 15%;
    font-weight: 200;
}

button {
    background-color: #3882F6;
    color: white;
    border: #3882F6;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;   
}

.placeholder {
    background-color: grey;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}

.maintext1 {
    display: flex;
}