body {
    margin: 0;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: #1F2937;
}

.mainheader {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.item1 {
    padding-right: 600px;
    font-weight: 600;
    font-size: 24px;
    color: #F9FAF8;
    
}

.headerlink {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.8;
}

.item2 {
    padding-right: 40px;
}

.item3 {
    padding-right: 40px;
}

.item4 {
    
}

.maintext {
    margin-left: 49px;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding-top: 150px;
    padding-left: 28px;
}

.secondarytext {
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.8; 
    height: 28%;
    width: 50%;
}

button {
    background-color: #3882F6;
    color: white;
    border: #3882F6;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 5px;   
    font-weight: 600;
    font-size: 12px;
}

.placeholder {
    background-color: grey;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}

.maintext1 {
    display: flex;
}

.container2 {
    margin-top: 50px;
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    text-align: center;
}

.illustration {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.pic1 {
    border: 3px solid #3882F6;
    padding: 80px 80px 80px 80px;
    border-radius: 15px;
}

.pic2 {
    border: 3px solid #3882F6;
    padding: 80px 80px 80px 80px;
    border-radius: 15px;
}

.pic3 {
    border: 3px solid #3882F6;
    padding: 80px 80px 80px 80px;
    border-radius: 15px;
}

.pic4 {
    border: 3px solid #3882F6;
    padding: 80px 80px 80px 80px;
    border-radius: 15px;
}

.subtext {
    display: flex;
}

.subtext1 {
    margin: -10px 0px 0px 164px;
    width: 10%;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
}

.subtext2 {
    margin: -10px 0px 0px 180px;
    padding: 0px 0px 0px 0px;
    width: 10%;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
}

.subtext3 {
    margin: -10px 0px 0px 177px;
    padding: 0px 0px 0px 0px;
    width: 10%;
    text-align: center;
    font-size: 16px;
    opacity: 0.6; 
}

.subtext4 { 
    margin: -10px 0px 0px 184px;
    padding: 0px 0px 0px 0px;
    width: 10%;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
}

.container3 {
    margin: 100px 0px 0px 0px;
    background-color: #E5E7EB;
    padding: 50px 0px 100px 0px;
}

.quote {

}

.quote1 {
    font-size: 36px;
    font-style: italic;
    text-align: left;
    width: 50%;
    margin: 100px 0px 12px 375px;
}

.quote2 {
    font-weight: 900;
    font-size: 20px;
    width: 20%;
    margin: 0px 0px 0px 850px;
}

.signuplink {
    margin: 75px 0px 100px 175px;
    padding: 35px 0px 25px 0px; 
    width: 75%;
    border-radius: 8px;
    background-color: #3882F6;
}

.signup1 {
    width: 50%;
    margin: 0px 0px 0px 350px;
    font-size: 18px;
    font-weight: 600;
    color: #F9FAF8;
    
}
.signup2 {
    width: 50%;
    margin: 0px 0px 0px 350px;
    color: #F9FAF8;
    opacity: 0.7;
}

.button2 {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 0px 0px 0px 800px;
}

.container5 {
    text-align: center;
    border: 2px solid black;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px 0px 10px 0px;
}